<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gitpub</title>
</head>
<body>
    <h1>Welcome to Gitpub</h1>
    <ul>
      <% for(let i = 0; i < allDrinks.length; i++){ %>
      <% const drink = allDrinks[i] %>
      <% const drinkName = drink.name %>
      <% const capWord = drinkName.charAt(0).toUpperCase() + drinkName.slice(1) %>
        <li>
           <a href="/drinks/<%=i %> "><%=capWord %></a>
        </li>
       <%  } %> 
    </ul>
    <a href="/gitpub"><button class="b4">Back to main menu</button></a>
</body>
</html>